:root {
    --bkg: silver;
}

.App {
    background: var(--bkg);
    
    img {
        max-width: 300px;
        display: block;
    }
    
    .h1 {
        color: blue;
        font-weight: bold;

        &__test {
            color: tomato;

            @above desktop {
                color: yellow;
            }

        }
        
    }
}